<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/message.css">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <title>留言管理</title>
</head>
<body>
<div id="root"></div>
<!--<div id="plane" class="d">-->
<!--    <img src="../images/taiyang.gif" alt="" class="taiyang p">-->
<!--    <img src="../images/yun1.png" alt="" class="yun1 p">-->
<!--    <img src="../images/yun2.png" alt="" class="yun2 p">-->
<!--    <div class="top">-->
<!--        <img src="../images/god.jpeg" alt="头像">-->
<!--        <div class="right">-->
<!--            <p class="nc">我是你亲爹啊</p>-->
<!--            <time>2019-09-08 11:30</time>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="middle">-->
<!--        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>-->
<!--    </div>-->
<!--    <div class="bottom">-->
<!--        <p>-->
<!--            <button><i class="iconfont">&#xe63e;</i>赞</button>-->
<!--            <span class="num">23</span></p>-->
<!--        <button onclick="huifu()"><i class="iconfont">&#xe655;</i>回复</button>-->
<!--    </div>-->
<!--    <div class="ly">-->
<!--        <div class="ly_text">-->
<!--            <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="请回复"></textarea>-->
<!--        </div>-->
<!--        <div class="header">-->
<!--            <img src="../images/kf.jpg" alt="客服">-->
<!--            <div class="hf">-->
<!--                <p class="nc">客服001 回复 <span>我是你亲爹啊:</span></p>-->
<!--                <time>2019-09-08 11:30</time>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="vakue">-->
<!--            <p>你好？-->
<!--                <button class="hf_hf"><i class="iconfont">&#xe655;</i></button>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="../lib/jquery.js"></script>
<script src='../lib/react.production.min.js'></script>
<script src='../lib/react-dom.production.min.js'></script>
<script src='../lib/gsap.min.js'></script>
<script src="../javascripts/script.js"></script>
<script src="../iconfont/iconfont.js"></script>
<script src="../javascripts/message.js"></script>
</body>
</html>


